body {
  background: white;
  color: rgb(15, 15, 15);
  font-weight: 300;
  margin: 0;
  text-align: center;
  padding-top: 46px;
  padding-left: 4px;
}

#labels {
  font-family: sans-serif;
  width: 800px;
}

.part {
  height: 48px /* 0.5  in */;
  width: 162px /* 1.75 in */;
  display: inline-block;
  position: relative;
  margin-bottom: -4px;
  margin-left: 34px;
}

.part:nth-child(4n-3) {
  margin-left: 0;
}

/* Title & Subtitle */
.category {
  position:absolute;
  top: 2px;
  left: 2px;
  font-size: 7px;
  font-weight: bold;
  background: rgb(100, 100, 100);
  padding: 2px 5px;
  max-width: 60px;
  color:white;
  border-radius:2px;
  white-space: nowrap;
}

/* Title & Subtitle */
.part-title {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 16px;
}
.part-title.title-numeric {
  font-size: 20px;
}

.part-title:not(.title-numeric) + .part-subtitle {
  margin-top:-4px;
}
.part-title-2 {
  margin: 0;
  margin-top: -4px;
}

.part-subtitle  {
  position:absolute;
  top: 24px;
  right:2px;
  width: 60px;
  font-size: 10px;
  line-height: 8px;
  text-align: right;
}

/* For subtitles with explicitly specified lines. */
.part-subtitle p {
  margin: 0;
  white-space: nowrap;
  float: right;
  clear: right;
}

/* Icon & Label (Part Number) */
.icon-container {
  z-index: -1;
  position: absolute;
  top:5px;
  left:2px;
  right:2px;
  bottom:5px;
}


img.icon {
  height: 32px;
  width: auto;
  opacity:.7; 
}
img.icon.colored {
  opacity: 1;
  filter: grayscale(100%);
}

.icon-multi {
  height: 32px;
}
.icon-multi .icon-wrapper {
  display: inline-block;
}
.icon-multi .icon-wrapper + .icon-wrapper::before {
  content: '|';
  color: rgb(15, 15, 15);
  font-size:60%;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 2px;
}
.icon-multi img.icon {
    height: 16px;
    margin-top: 8px;
}
.icon-multi img.icon + img.icon {
    margin-left: 5px;
}

.part-number {
  font-size: 8px;
  font-family: monospace;
  margin-top: -5px;
  color:rgb(15, 15, 15);
}
.part-number span + span:before {
  content: '|';
  margin-left:1px;
  margin-right:1px;
}

/* Color Box */
.color {
  position: absolute;
  left: 2px;
  bottom: 2px;
  height: 16px;
  width: 16px;
  border: 2px solid rgb(75, 75, 75);
  border-radius: 3px;
}
.color.translucent {
  border-style: dashed;
}
.color-inner {
  height:100%;
  width:100%;
}
.color-inner.rainbow {
  background: linear-gradient(to bottom right, red 0%, orange 20%, yellow 40%, green 60%, blue 80%, purple 90%);
}
.color.translucent .color-inner {
  opacity: .5;
}